{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .login-box{
            width: 400px;
            height: 350px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #dddddd;
            margin-top: 220px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .login-box h2{
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="login-box">
        <h2>用户登录</h2>
        <form method="post" action="/login/">
            <div class="form-group">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
                <span style="color: pink;">{{ form.username.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label>{{ form.password.label }}</label>
                {{ form.password }}
                <span style="color: pink;">{{ form.password.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label>{{ form.code.label }}</label>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.code }}
                    </div>
                    <div class="col-xs-6">
                        <img src="/img/code/" alt="" id="codeImage">
                    </div>
                </div>
                <span style="color: pink;">{{ form.code.errors.0 }}</span>
            </div>
            <button type="submit" class="btn btn-primary">提 交</button>
            <span style="color: red;">{{ error }}</span>
        </form>
    </div>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(function (){
            $('#codeImage').click(function () {
               var url = $(this).attr('src');
               $(this).attr('src', url + "?");
            });
        })
    </script>

</body>
</html>